{% extends 'layout/base.twig' %}

{% block title %}
  <title>{{title}}</title>
{% endblock %}

{% block content %}
  <h1>Hello!</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aut impedit maxime minus nisi non? Doloribus earum ex
    id mollitia nesciunt porro quibusdam quos tempora. Explicabo inventore laudantium quis soluta?</p>
  {# ... #}
{% endblock %}
